doctype html
html
    head
        title Tutte le unità
    body
        each unita in data
            div(style="border: 1px solid black")
                img(src=`../../images/${unita.Unit}.png` style="height: 330px; width: 277px")
                p  #{unita.Unit}